.header-image {
  background-image: url('assets/images/coloured_pencils.jpg');
  background-size: cover;
}

.example-icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}

.control-card{
  margin:10px auto;
  width: 650px;
  height: auto;
}

.sample-card {
  margin:10px auto;
  width: 300px;
  height: auto;
}

.theme-type-label {
  font: 400 14px/20px Roboto,"Helvetica Neue",sans-serif;
  margin-right: 10px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.elevation-slider {
  width: 100%;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: row;
}

.example-radio-button {
  margin: 5px;
}

.control-card-content {
  margin-left: 6px;
}

.card-subtitle {
  margin-top: 10px;
}