<div [ngClass]="{'alternative': darkTheme}">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Material App</span>
      <span class="example-spacer"></span>
      <!-- <mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon">delete</mat-icon> -->
      <p class="theme-type-label">Light Theme</p>
      <mat-slide-toggle class="example-margin" color="primary" checked="false" disabled="false" (change)="toggleTheme()">
        Dark Theme
      </mat-slide-toggle>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Colour Pencils</mat-card-title>
      <mat-card-subtitle>Kids Favourite</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/images/coloured_pencils.jpg" alt="Photo of colour pencils">
    <mat-card-content>
      <p>
        A coloured pencil is an art medium constructed of a narrow, pigmented core encased in a wooden cylindrical case. Although
        colored pencils had been used for “checking and marking” for decades prior, it was not until the early 20th century
        that artist-quality colored pencils were produced.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">LIKE</button>
      <button mat-raised-button color="accent">SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>