@import '~@angular/material/theming';
@include mat-core();


// ORIGINAL THEME
$custom-primary: mat-palette($mat-deep-purple);
$custom-accent:  mat-palette($mat-pink);
$custom-theme: mat-light-theme($custom-primary, $custom-accent);


// ALTERNATIVE DARK THEME
$alt-primary: mat-palette($mat-grey);
$alt-accent:  mat-palette($mat-yellow);
$alt-theme: mat-dark-theme($alt-primary, $alt-accent);

.alternative-theme {
    @include angular-material-theme($alt-theme);
}

// DEFAULT SHADE CHANGES
$custom-primary-100: mat-palette($mat-deep-purple, 100);
$custom-theme-100 : mat-light-theme($custom-primary-100, $custom-accent);
$custom-primary-300: mat-palette($mat-deep-purple, 300);
$custom-theme-300 : mat-light-theme($custom-primary-300, $custom-accent);
$custom-primary-600: mat-palette($mat-deep-purple, 600);
$custom-theme-600 : mat-light-theme($custom-primary-600, $custom-accent);
$custom-primary-900: mat-palette($mat-deep-purple, 900);
$custom-theme-900 : mat-light-theme($custom-primary-900, $custom-accent);

.theme-100 {
    @include angular-material-theme($custom-theme-100);
}
.theme-300 {
    @include angular-material-theme($custom-theme-300);
}

.theme-600 {
    @include angular-material-theme($custom-theme-600);
}

.theme-900 {
    @include angular-material-theme($custom-theme-900);
}

.theme-500 {
    @include angular-material-theme($custom-theme);
}


// SAME PALETTE
$custom-accent-A200:  mat-palette($mat-deep-purple, A200);
$custom-same-palette-theme : mat-light-theme($custom-primary-100, $custom-accent-A200);
.same-palette {
    @include angular-material-theme($custom-same-palette-theme);
}

// WARN PALETTE
$custom-warn:  mat-palette($mat-amber);
$custom-warn-theme : mat-light-theme($custom-primary, $custom-accent, $custom-warn);
.custom-warn-colour {
    @include angular-material-theme($custom-warn-theme);
}

// ONLY BUTTON THEME CHANGE
.btn-theme-900 {
    @include mat-button-theme($custom-theme-900);
}


// CHANGE FONT
$custom-typography-0: mat-typography-config(
  $font-family: 'Cute Font , cursive'
);
$custom-typography-1: mat-typography-config(
  $font-family: 'Gugi, cursive'
);
$custom-typography-2: mat-typography-config(
  $font-family: 'Open Sans Condensed , sans-serif'
);
$custom-typography-3: mat-typography-config(
  $font-family: 'Raleway , sans-serif'
);
$custom-typography-4: mat-typography-config(
  $font-family: 'Gaegu, cursive'
);
$custom-typography-5: mat-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif'
);
.font-0 { 
    @include angular-material-theme($custom-theme);
    @include angular-material-typography($custom-typography-0);
}
.font-1 { 
    @include angular-material-theme($custom-theme);
    @include angular-material-typography($custom-typography-1);
}
.font-2 { 
    @include angular-material-theme($custom-theme);
    @include angular-material-typography($custom-typography-2);
}
.font-3 { 
    @include angular-material-theme($custom-theme);
    @include angular-material-typography($custom-typography-3);
}
.font-4 { 
    @include angular-material-theme($custom-theme);
    @include angular-material-typography($custom-typography-4);
}
.font-5 { 
    @include angular-material-theme($custom-theme);
    @include angular-material-typography($custom-typography-5);
}
