@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-deep-purple, 600);
$custom-accent:  mat-palette($mat-pink);
$custom-warn:    mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);


// ALTERNATIVE THEME

$alt-primary: mat-palette($mat-grey);
$alt-accent:  mat-palette($mat-yellow);

$alt-theme: mat-dark-theme($alt-primary, $alt-accent);

.alternative-theme {
    @include angular-material-theme($alt-theme);
    // @include mat-button-theme($alt-theme);
}

.default-purple-shade-change {
    @include angular-material-theme($alt-theme);
    // @include mat-button-theme($alt-theme);
}
